<header class="nav-bar">
    <div class="nav-logo pull-left">
        <a href="#"><img src="https://seeklogo.com/images/M/movie-time-cinema-logo-8B5BE91828-seeklogo.com.png" alt="Movies" width="50" height="50"></a>
    </div>
    <span class="header-slogan hidden-xs pull-left">HD movies at the smallest file size.</span>
    <div class="main-nav-links hidden-sm hidden-xs">
        <!-- <form method="GET" action="#" accept-charset="UTF-8" id="quick-search" name="quick-search">
        <div id="quick-search-container">
            <input id="quick-search-input" autocomplete="off" type="search" value="Quick search">
        </div>
        </form> -->
        <ul class="nav-links">
            <li><a href="homepage" > Home </a></li>
            <li><a href="#" style="color: #6AC045"> Categories </a></li>
            <li><a href="popularmovies"> Popular Movies</a></li>
            <li><a href="upcomingmovies"> Upcoming Movies </a></li>
        </ul>
        <ul class="nav-links nav-link-guest">
            <li><a class="login-nav-btn" href="login"> Login </a> &nbsp;|&nbsp; <a class="register-nav-btn" href="#"> Register </a></li>
        </ul>
    </div> 
    </header>