<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-20">
                <ul class="text-center">
                    <li>YTS © 2011 - 2020</li>
                    <li>-</li>
                    <li><a href="#">Blog</a></li>
                    <li>-</li>
                    <li><a href="#">DMCA</a></li>
                    <li>-</li>
                    <li><a href="#">API</a></li>
                    <li>-</li>
                    <li><a href="#">RSS</a></li>
                    <li>-</li>
                    <li><a href="#">Contact</a></li>
                    <li>-</li>
                    <li><a href="#">Browse Movies</a></li>
                    <li>-</li>
                    <li><a href="#">Requests</a></li>
                    <li>-</li>
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </div>

        <div class="row-1">
            <div class="col-xs-20-1">
                <ul class="text-center-1">
                    <li style="font-size: .80em">By using this site you agree to and accept our <a href="/terms">User Agreement</a>, which can be read <a href="/terms">here</a>.</li>
                </ul>
            </div>
        </div>
    </div>
    </footer>